body{
    background-image: url("./images/forest\ background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
.greet-content{
    background-color: rgba(255, 254, 254, 0.8);
    margin: 15px auto;
    width: max-content;
    display: block;
    border: solid;
    padding: 20px;

}


.greet-content h1, p{
text-align: center;
}

.input-field {
    
margin: 15px;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
grid-gap: 15px;
display: grid;
justify-content: auto;
text-align: center;
}

#chimera-name{
    grid-column: 2 / span 4;
}

.create-box{
    background-color: rgba(255, 254, 254, 0.8);
    margin: auto;
    border: solid;
    max-width: 700px;
}

#form-title, #chimera-submit{
    display: block;
    grid-column: 3;

}

span{
    width: 30px;
}

.chimera-list{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}

.chimera-card{
    background-color: rgba(255, 254, 254, 0.8);
    justify-content: auto;
    margin: 10px;
    padding: 15px;
    border: solid gray;
}

.chimera-card h2{
    text-align: center;
}
.chimera-card button{
    display: block;
    margin: auto;
    margin-top: 10px;
}

#random-habitat{
    grid-column: 5;
}
#chimera-habitat{
    grid-column: 4;
}

button, #chimera-submit {
    background-color: lightblue;
    border-color: rebeccapurple;
    border-style: solid;
    font-family: Verdana, Geneva, Tahoma, serif;
    border-radius: 5px;

}

.chimera-habitat-Desert{
    background-size: 100% 100%;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-image: url("./images/desert.jpg");
}

.chimera-habitat-Desert p{
    background-color: rgba(255, 254, 254, 0.4);
}


.chimera-habitat-Mountains{
    background-size: 100% 100%;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-image: url("./images/mountains.jpg");
}
.chimera-habitat-Plains{
    background-size: 100% 100%;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-image: url("./images/plains.jpg");
}
.chimera-habitat-Ocean{
    background-size: 100% 100%;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-image: url("./images/ocean.jpg");
}
.chimera-habitat-River{
    background-size: 100% 100%;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-image: url("./images/river.jpg");
}
.chimera-habitat-Polar{
    background-size: 100% 100%;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-image: url("./images/polar.jpg");
}
.chimera-habitat-Tundra{
    background-size: 100% 100%;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-image: url("./images/tundra.jpg");
}
.chimera-habitat-Forest {
    background-size: 100% 100%;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-image: url("./images/forest.jpg");
}
.chimera-habitat-Lake{
    background-size: 100% 100%;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-image: url("./images/lake.jpg");
}
.chimera-habitat-Coast{
    background-size: 100% 100%;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-image: url("./images/coast.jpg");
}



