/* main page content */
body{
    background-image: url("./images/forest\ background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.greet-content{
    background-color: rgba(255, 254, 254, 0.8);
    margin: 15px auto;
    width: max-content;
    display: block;
    border: solid;
    padding: 20px;
}

.greet-content h1, p{
    text-align: center;
}

h2{
    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace;
}

/* Select box styles and input form */

select {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

a:link {
    color: midnightblue;
}

a:visited {
    color: midnightblue;
}

a:hover{
    font-size: 20px;
    color: steelblue;
}

a:active{
    color: yellowgreen;
}


.input-field {
    margin: 15px;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
    display: grid;
    justify-content: auto;
    text-align: center;
}

#chimera-name{
    grid-column: 2 / span 4;
}

.create-box{
    background-color: rgba(255, 254, 254, 0.7);
    margin: auto;
    border: solid;
    max-width: 1100px;
}

#form-title, #chimera-submit{
    display: block;
    grid-column: 3;
}

span{
    width: 30px;
}


#random-habitat, #random-size{
    grid-column: 5;
}

#chimera-habitat{
    grid-column: 3;
}

#chimera-size{
    grid-column: 3 / span 1;
    font-size: 9px;
}

button, #chimera-submit {
    background-color: lightblue;
    border-color: rebeccapurple;
    border-style: solid;
    border-radius: 5px;
    transition: transform .2s;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

button:hover, #chimera-submit:hover{
    transform: scale(1.2);
    background-color: lightseagreen;
}

/* chimera displays */

.habitat-button-list{
    margin: 20px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(11, 1fr);
}
.habitat-button-list p {
    grid-column: 4 / span 5;
    background-color: rgba(255, 254, 254, 0.8);
    border-radius: 10px;
    padding: 10px;
}

.habitat-button-list button {
    grid-row: 2;
}

.chimera-list{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.chimera-card{
    justify-content: auto;
    margin: 10px;
    padding: 15px;
    border: solid gray;
}

.inner-div{
    vertical-align: auto;
    background-color: rgba(255, 254, 254, 0.65);
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

.chimera-card h2{
    text-align: center;
}
.chimera-card button{
    display: block;
    margin: auto;
    margin-top: 10px;
}

/* Chimera card backgrounds */

.chimera-habitat-Desert{
    background-size: 100% 100%;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-image: url("./images/desert.jpg");
}

.chimera-habitat-Mountains{
    background-size: 100% 100%;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-image: url("./images/mountains.jpg");
}

.chimera-habitat-Plains{
    background-size: 100% 100%;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-image: url("./images/plains.jpg");
}

.chimera-habitat-Ocean{
    background-size: 100% 100%;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-image: url("./images/ocean.jpg");
}

.chimera-habitat-River{
    background-size: 100% 100%;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-image: url("./images/river.jpg");
}

.chimera-habitat-Polar{
    background-size: 100% 100%;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-image: url("./images/polar.jpg");
}

.chimera-habitat-Tundra{
    background-size: 100% 100%;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-image: url("./images/tundra.jpg");
}

.chimera-habitat-Forest {
    background-size: 100% 100%;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-image: url("./images/forest.jpg");
}

.chimera-habitat-Lake{
    background-size: 100% 100%;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-image: url("./images/lake.jpg");
}

.chimera-habitat-Coast{
    background-size: 100% 100%;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-image: url("./images/coast.jpg");
}

